*,
::after,
::before{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a{
	display: inline-block;
}

img{
  user-select: none;
}

body{
  overflow-x: hidden;
}

.body__overflow{
  overflow: hidden;
}

/* Title */

.title{
	color: #f0f0f0;
	font-family: "Montserrat";
	font-size: 144px;
	font-weight: 700;
	line-height: 176px;
	text-align: center;
	text-transform: uppercase;
	pointer-events: none;
	position: relative;
}

.title__text{
	position: absolute;
	color: #878787;
	font-family: "Montserrat";
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
	text-align: center;
	text-transform: none;
	pointer-events: all;
	width: 100%;
	top: 42%;
	left: 50%;
	transform: translate(-50%);
}

/* END Title */

/* Header */

.header{
	position: absolute;
	width: 100%;
}

.header__inner{
	height: 15vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__links{
  display: flex;
}

.header__menu{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.header__menu__item{
	color: #fafafa;
	font-family: "Montserrat";
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	text-transform: uppercase;
	padding: 4px 0;
	border-bottom: 1px solid transparent;
	transition: 0.25s;
}

.header__menu__item:hover{
	color: #fafafa;
	text-decoration: none;
	border-bottom: 1px solid #fafafa;
}

.header__contacts{
	display: flex;
	justify-content: flex-end;
}

.header__contacts__item{
	margin-left: 20px;
	color: #fafafa;
	font-size: 24px;
	line-height: 28px;
	opacity: 0.9;
	transition: 0.25s;
}

.header__contacts__item:hover{
	color: #fafafa;
	text-decoration: none;
	opacity: 1;
}

.header__burger{
  display: none;
}

/* END Header */

/* Main */

.main{
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 15vh;
}

.main__title{
	color: #fafafa;
	font-family: "Montserrat";
	font-size: 64px;
	font-weight: 700;
	line-height: 78px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 15vh;
}

.main__text{
	color: #fafafa;
	font-family: "Montserrat";
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
	text-align: center;
	margin-top: 4vh;
}

.main__btn__inner{
	text-align: center;
}

.main__btn{
	color: #fafafa;
	font-family: "Montserrat";
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	padding: 20px 40px;
	background-color: #1d1d1d;
	border: 2px solid #fafafa;
	margin-top: 7vh;
	transition: 0.4s;
}

.main__btn:hover{
	color: #1d1d1d;
	background-color: #fafafa;
	text-decoration: none;
}

/* END Main */

/* About */

.about{
	padding-top: 145px;
	padding-bottom: 5px;
	background-color: #fafafa;
}

.about__item{
	margin-top: 100px;
}

.about__item__inner{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about__item__title{
	margin-bottom: 30px;
	color: #222222;
	font-family: "Montserrat";
	font-size: 24px;
	font-weight: 700;
	line-height: 33px;
}

.about__item__text{
	color: #868686;
	font-family: "Montserrat";
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
	padding-left: 36px;
	border-left: 8px solid #5b4f39;
}

.about__item__img{
	width: 100%;
}

/* END About */

/* Inertix */

.inertix{
	padding-top: 145px;
	padding-bottom: 5px;
	background-color: #fafafa;
}

.inertix__item{
	margin-top: 100px;
}

.inertix__side{
	display: flex;
	flex-direction: column;
}

.inertix__side__img1,
.inertix__side__img2{
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.inertix__inner{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.inertix__video__inner{
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

.inertix__video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.inertix__text{
	color: #868686;
	font-family: "Montserrat";
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
	text-align: center;
	padding: 0 7%;
}

.inertix__btn__inner{
  text-align: center;
  margin-bottom: 15px;
}

.inertix__btn{
	color: #fafafa;
	font-family: "Montserrat";
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	padding: 20px 40px;
	background-color: #1d1d1d;
	border: 2px solid #fafafa;
	transition: 0.4s;
}

.inertix__btn:hover{
	color: #1d1d1d;
	background-color: #fafafa;
	border: 2px solid #1d1d1d;
	text-decoration: none;
}

/* END Inertix */

/* Crushball */

.crushball{
	padding-top: 145px;
	padding-bottom: 5px;
	background-color: #fafafa;
}

.crushball__item{
	margin-top: 100px;
}

.crushball__side{
	display: flex;
	flex-direction: column;
}

.crushball__side__img1,
.crushball__side__img2{
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.crushball__inner{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.crushball__video__inner{
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

.crushball__video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.crushball__text{
	color: #868686;
	font-family: "Montserrat";
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
	text-align: center;
	padding: 0 7%;
}

.crushball__btn__inner{
  text-align: center;
  margin-bottom: 15px;
}

.crushball__btn{
	color: #fafafa;
	font-family: "Montserrat";
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	padding: 20px 40px;
	background-color: #1d1d1d;
	border: 2px solid #fafafa;
	transition: 0.4s;
}

.crushball__btn:hover{
	color: #1d1d1d;
	background-color: #fafafa;
	border: 2px solid #1d1d1d;
	text-decoration: none;
}

/* END Crushball */

/* Shop */

.shop{
	padding-top: 145px;
	background-color: #fafafa;
	padding-bottom: 145px;
}

.shop__inner{
	margin-top: 100px;
}

.shop__item{
  width: 100%;
}

.shop__item__img{
	width: 100%;
}

.shop__btn__inner{
	margin-top: 50px;
	text-align: center;
}
.shop__btn{
	color: #fafafa;
	font-family: "Montserrat";
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	padding: 20px 40px;
	background-color: #1d1d1d;
	border: 2px solid #fafafa;
	transition: 0.4s;
}

.shop__btn:hover{
	color: #1d1d1d;
	background-color: #fafafa;
	border: 2px solid #1d1d1d;
	text-decoration: none;
}

/* END Shop */

/* Footer */

.footer{
	background-color: #1d1d1d;
}

.footer__inner{
	height: 15vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__menu{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer__menu__item{
	color: #fafafa;
	font-family: "Montserrat";
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	text-transform: uppercase;
	padding: 4px 0;
	border-bottom: 1px solid transparent;
	transition: 0.25s;
}

.footer__menu__item:hover{
	color: #fafafa;
	text-decoration: none;
	border-bottom: 1px solid #fafafa;
}

.footer__contacts{
	display: flex;
	justify-content: flex-end;
}

.footer__contacts__item{
	margin-left: 20px;
	color: #fafafa;
	font-size: 24px;
	line-height: 28px;
	opacity: 0.9;
	transition: 0.25s;
}

.footer__contacts__item:hover{
	color: #fafafa;
	text-decoration: none;
	opacity: 1;
}

.footer__studios{
	background-color: #fafafa;
	padding: 15px 0;
}

.footer__roborazor,
.footer__crayfish,
.footer__crayfish a{
	color: #878787;
	font-family: "Montserrat";
	font-size: 12px;
	font-weight: 500;
	line-height: 15px;
}

.footer__crayfish{
	text-align: end;
}

.footer__crayfish a{
	border-bottom: 1px solid transparent;
	transition: 0.25s;
}

.footer__crayfish a:hover{
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid #878787;
}

/* END Footer */

/* Adaptation 991px */

@media (max-width: 991px){

  .title{
	  font-size: 100px;
	  line-height: 120px;
  }
	
	.title__text{
		position: relative;
    margin-top: 15px;
    font-size: 18px;
    line-height: 23px;
  }

  .header{
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .header__inner{
    height: 15vh;
  }

  .header__links{
    position: fixed;
    right: -100%;
    top: 15vh;
    height: 85vh;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    transition: 0.8s;
    overflow: hidden;
  }

  .header__links.show{
    right: 0;
  }

  .header__menu{
    margin-top: 50px;
    justify-content: center;
    flex-direction: column;
  }
  
  .header__menu__item{
    padding: 4px 0;
    margin: 10px 0;
  }
  
  .header__contacts{
    justify-content: center;
    margin-bottom: 100px;
  }

  .header__contacts__item:first-child{
    margin-left: 0;
  }
  
  .header__burger{
    text-align: end;
    display: block;
    color: #fafafa;
    font-size: 24px;
    line-height: 28px;
    z-index: 2;
  }

  .header__burger:hover{
    color: #fafafa;
    text-decoration: none;
  }

	.main{
    height: 678px;
	}

	.main__title{
		font-size: 48px;
		line-height: 59px;
		margin-top: 100px;
	}

	.main__text{
		font-size: 16px;
		line-height: 25px;
		margin-top: 50px;
	}

	.main__btn{
		margin-top: 60px;
	}

	.about{
		padding-top: 65px;
	}

	.about__item{
		margin-top: 50px;
	}
	
	.about__item__title{
		margin-top: 25px;
		margin-bottom: 0;
		font-size: 19px;
		line-height: 28px;
	}
	
	.about__item__text{
		font-size: 15px;
		line-height: 28px;
		padding-left: 24px;
    border-left: 4px solid #5b4f39;
    margin-top: 30px;
	}
	
	.about__item__img{
		width: 100%;
  }
  
  .inertix{
    padding-top: 65px;
  }
  
  .inertix__item{
    margin-top: 50px;
  }

  .inertix__side__img1,
  .inertix__side__img2{
    margin-bottom: 30px;
  }
  
  .inertix__text{
    font-size: 15px;
    line-height: 28px;
    padding: 0;
    margin-top: 30px;
  }
  
  .inertix__btn__inner{
    text-align: center;
    margin-top: 50px;
  }

  .crushball{
    padding-top: 65px;
  }
  
  .crushball__item{
    margin-top: 50px;
  }

  .crushball__side__img1,
  .crushball__side__img2{
    margin-bottom: 30px;
  }
  
  .crushball__text{
    font-size: 15px;
    line-height: 28px;
    padding: 0;
    margin-top: 30px;
  }
  
  .crushball__btn__inner{
    text-align: center;
    margin-top: 50px;
  }

  .shop{
    padding-top: 65px;
    padding-bottom: 65px;
  }
  
  .shop__inner{
    margin-top: 20px;
  }

  .shop__item{
    margin-top: 30px;
  }
  
  .shop__btn__inner{
    margin-top: 30px;
  }
  
  .footer__inner{
    height: auto;
    padding: 60px 0;
    flex-direction: column;
    justify-content: center;
  }

  .footer__logo{
    display: flex;
    justify-content: center;
  }
  
  .footer__menu{
    margin-top: 35px;
    flex-direction: column;
  }
  
  .footer__menu__item{
    padding: 4px 0;
    margin-bottom: 24px;
  }
  
  .footer__contacts{
    margin-top: 24px;
    justify-content: center;
  }
  
  .footer__contacts__item{
    margin-left: 20px;
  }

  .footer__contacts__item:first-child{
    margin-left: 0;
  }
  
  .footer__studios{
    padding: 24px 0;
  }

  .footer__roborazor{
    text-align: center;
  }
  
  .footer__crayfish{
    margin-top: 16px;
    text-align: center;
  }

}

/* END Adaptation 991px */

/* Adaptation 767px */

@media (max-width: 767px){

  .title{
	  font-size: 64px;
	  line-height: 78px;
  }
	
	.title__text{
    font-size: 16px;
  }
	
	.about__item__title{
		font-size: 18px;
		line-height: 25px;
	}
	
	.about__item__text{
		font-size: 14px;
		line-height: 26px;
	}
  
  .inertix__text{
    font-size: 14px;
    line-height: 26px;
  }

  .inertix__side__img1{
    height: 220px;
  }
  
  .inertix__side__img2{
    height: 245px;
  }
  
  .crushball__text{
    font-size: 14px;
    line-height: 26px;
  }

  .crushball__side__img1{
    height: 220px;
  }
  
  .crushball__side__img2{
    height: 245px;
  }

}

/* END Adaptation 767px */

/* Adaptation 450px */

@media (max-width: 450px){

  .title{
	  font-size: 52px;
	  line-height: 64px;
  }

  .inertix__side__img1{
    height: 155px;
  }
  
  .inertix__side__img2{
    height: 175px;
  }

  .crushball__side__img1{
    height: 155px;
  }
  
  .crushball__side__img2{
    height: 175px;
  }
	
}

/* END Adaptation 450px */

/* Adaptation 380px */

@media (max-width: 380px){

  .title{
	  font-size: 44px;
	  line-height: 54px;
  }

  .main__title{
    font-size: 40px;
  }
	
}

/* END Adaptation 380px */